header {
    padding-right: 15px;
}

body {
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

.container, .container-fluid {
    font-family: 'Open Sans', sans-serif;
}

.form-control.hide-border, .btn.hide-border {
    border: none;
    box-shadow: none;
}

.container.fixed-width h2 {
    font-weight: bold;
}

.navbar-nav>li>a {
    font-weight: bold;
}

.navbar.navbar-default {
    background-color: #ffffff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-form.navbar-right {
    padding-top: 0.5em;
}

.fixed-width {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.text-center {
    text-align: center;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0.5em;
}

.jumbotron {
    background: url(../images/banner-min.jpg) no-repeat;
    height: 880px;
    color: white !important;
}

.jumbotron p {
    color: #a3b1bf;
}

.row.bold h2, .row.bold h3 {
    font-weight: bold;
}

.align-icon {
    font-size: 3em;
    color: #00bc9c;
    padding: 0.4em 0.8em;
}

.vertical-center {
    display: flex;
    align-items: center;
    text-align: center;
}

.banner-button {
    background-color: #00bc9c !important;
    border-radius: 0 !important;
    margin: 1em;
}

.btn-medium.banner-button {
    color: white;
}

.container.fixed-width>p {
    font-weight: bold;
}

.container.content-block {
    margin-top: 5%;
}

.content-header {
    font-size: 30px;
    font-weight: bold;
}

.pager.recolor li>a {
    background-color: #506a85;
}

.pager.recolor li>a:hover {
    background-color: #00bc9c;
}

.margin-top {
    margin-top: 4%;
}

.keep-in-touch {
    margin-top: 5%;
    margin-bottom: 5%;
}
